/* LARGE SCREENS: 992px = (992 / 16) = 62em */
/* IS THE AUTO SETTING */

/* MEDIUM SCREENS: 576px -> 992px */
@media (min-width: 36em) and (max-width: 62em) {
  /* NAVIGATION BAR CHANGES */

  .header-inner-frame {
    width: 57.6rem;
  }

  .flipper-seller-buttons {
    /* Reset the display from flexbox to a normal block to center the logo. */
    display: block;
    /* Align the new uflip logo */
    align-self: center;
  }

  .heading--button {
    display: none;
  }

  .uflip--logo--link {
    display: none;
  }

  .menu-btn-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
  }

  .menu-btn-frame:hover {
    cursor: pointer;
    filter: opacity(80%);
  }

  .uflip--logo {
    width: 11.4rem;
    height: auto;
  }

  .uflip--logo.tablet--logo {
    /* Display the logo in place of the flipper & seller buttons and align it in the grid */
    display: block;
    justify-self: center;
  }

  /* TABLET EDITION */
  .header-animation {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease-out;
  }

  .header-animation.header-drop-down-animation {
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
  }

  .header-drop-down-styles {
    background-color: #333;
    padding: 0.5rem 0;
    transition: all 0.3s;
  }

  .header-drop-down-background-color {
    background-color: transparent;
  }

  .header-drop-down {
    display: flex;
    width: 57.6rem;
    padding: 0 1rem;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #333;

    /* For the transition */
    overflow: hidden;
    grid-row: 1/2;
  }

  .menu-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid #505050;
    color: #7f7f7f;
    text-decoration: none;
    transition: all 0.3s;
  }

  .menu-box:last-child {
    margin-bottom: 0.5rem;
  }

  .menu-box:link,
  .menu.box:visited,
  .menu-box.flipper-hover:link,
  .menu-box.flipper-hover:visited,
  .menu-box.seller-hover:link,
  .menu-box.seller-hover:visited {
    color: #7f7f7f;
  }

  .menu-box:hover,
  .menu-box:active {
    color: #fff;
  }

  .menu-box.flipper-hover:hover,
  .menu-box.flipper-hover:active {
    color: #00cdff;
  }

  .menu-box.seller-hover:hover,
  .menu-box.seller-hover:active {
    color: #febd1d;
  }

  /* This is to match the online design. */
  .menu-box.seller-hover.active-class {
    color: #febd1d !important;
  }

  .menu-text {
    font-weight: 700;
    font-size: 1.75rem;
  }

  .menu-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  /* MAIN SECTION BODY */

  .outer-frame-2 {
    padding: 3rem 5rem;
  }

  .inner-frame {
    width: 45.6rem;
    gap: 1rem;
  }

  .broker-like-boss img {
    width: 31.2rem;
  }

  .check-it-out-paragraph {
    font-size: 3.2rem;
  }

  .steps-img {
    width: 100%;
  }

  .less-distractions-img {
    width: 100%;
  }

  .four-graphics {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }

  .graphic--frame {
    width: 43.2rem;
    gap: 2rem;
  }

  .graphic--img--frame {
    width: 6.8rem;
    height: 8.2rem;
    align-self: center;
  }

  .graphic--img.first-column {
    width: 6.8rem;
    height: auto;
  }

  .graphic--img.second-column {
    width: 6.8rem;
    height: auto;
  }

  .crush--the--comp {
    width: 43.2rem;
    gap: 2rem;
    /* justify-content: center;
    align-items: center; */
    margin: 0.5rem 0;
  }

  .crush--the--comp img {
    width: 10rem;
    height: 8.828rem;
  }

  .crush--comp--heading {
    font-size: 2.2rem;
  }

  .crush--comp--description {
    font-size: 1.4rem;
  }

  .sign-up-btn {
    font-size: 3.4rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
  }

  /* FOOTER */

  .footer-inner-frame {
    width: 57.6rem;
  }
}

/* SMALL SCREENS 576px = 36em */
@media (max-width: 36em) {
}
