/* LARGE SCREENS: 992px = (992 / 16) = 62em */
/* IS THE AUTO SETTING */

/* MEDIUM SCREENS: 576px -> 992px */
@media (min-width: 36em) and (max-width: 62em) {
  /* NAVIGATION BAR CHANGES */

  .header-inner-frame {
    width: 57.6rem;
  }

  .flipper-seller-buttons {
    /* Reset the display from flexbox to a normal block to center the logo. */
    display: block;
    /* Align the new uflip logo */
    align-self: center;
  }

  .heading--button {
    display: none;
  }

  .uflip--logo--link {
    display: none;
  }

  .menu-btn-icon {
    display: block;
    color: #9c9c9c;
    width: 4.2rem;
    height: 4.2rem;
  }

  .uflip--logo {
    width: 11.4rem;
    height: auto;
  }

  .menu-button {
    display: block;
  }

  /* .menu-button:hover {
    cursor: pointer;

    color: blue;
    filter: opacity(80%);
  } */

  .uflip--logo.tablet--logo {
    /* Display the logo in place of the flipper & seller buttons and align it in the grid */
    display: block;
    justify-self: center;
  }

  /* MAIN SECTION BODY */

  .outer-frame-2 {
    padding: 3rem 5rem;
  }

  .inner-frame {
    width: 45.6rem;
    gap: 1rem;
  }

  .broker-like-boss img {
    width: 31.2rem;
  }

  .check-it-out-paragraph {
    font-size: 3.2rem;
  }

  .steps-img {
    width: 100%;
  }

  .less-distractions-img {
    width: 100%;
  }

  .four-graphics {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }

  .graphic--frame {
    width: 43.2rem;
    gap: 2rem;
  }

  .graphic--img--frame {
    width: 6.8rem;
    height: 8.2rem;
    align-self: center;
  }

  .graphic--img.first-column {
    width: 6.8rem;
    height: auto;
  }

  .graphic--img.second-column {
    width: 5.2rem;
    height: auto;
  }

  .crush--the--comp {
    width: 43.2rem;
    gap: 2rem;
    /* justify-content: center;
    align-items: center; */
    margin: 0.5rem 0;
  }

  .crush--the--comp img {
    width: 10rem;
    height: 8.828rem;
  }

  .crush--comp--heading {
    font-size: 2.2rem;
  }

  .crush--comp--description {
    font-size: 1.4rem;
  }

  .sign-up-btn {
    font-size: 3.4rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
  }

  /* FOOTER */

  .footer-inner-frame {
    width: 57.6rem;
  }
}

/* SMALL SCREENS 576px = 36em */
@media (max-width: 36em) {
}
