/* Global Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-image: url(img/ticket-pattern-b.png),
    linear-gradient(#232323, #232323);
  background-size: cover;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

/* UFLIP LOGO Frame */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FLIPPER / SELLER: Inner Navigation Frame */

.flipper-seller-buttons {
  display: flex;
  gap: 32px;
  font-weight: 700;
}

.heading--button {
  text-decoration: none;
  font-size: 32px;
}

.heading--button:link,
.heading--button:visited,
.heading--button:hover,
.heading--button:active {
  color: #fff;
}

/* Overrides the one above */
.heading--button.active {
  color: #febd1d;
}

/* USER ICON FRAME */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ///////////////////////////// */

/* MAIN BODY CONTENT */

.main-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-frame {
  background-color: #232323;
  width: 992px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.broker-like-boss {
  align-self: flex-start;
}

.steps-image {
  width: 992px;
}

.check-it-out-paragraph {
  color: #fff;
  font-weight: 700;
  font-size: 42px;
}

/* FOUR GRAPHICS */

.four-graphics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 64px;
  row-gap: 16px;
}

.graphic--frame {
  display: flex;
  gap: 24px;
}

.graphic--img {
  width: 87px;
  height: 104px;
}

.graphic--img--real-time {
  width: 47px;
  height: 54px;
  /* height: auto; */
}

.graphic--text {
}

.graphic--heading {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
}

.graphic--description {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
