/* Global Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-color: #232323;
  background-image: url(img/ticket-pattern-b.png);
  background-size: cover;
  color: #fff;
}

/* ///////////////////////////////// */

/* NAVIGATION BAR */

.navigation-bar {
  display: flex;
  justify-content: center;
}

.header-inner-frame {
  width: 992px;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

/* UFLIP LOGO Frame */

.uflip-logo-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FLIPPER / SELLER: Inner Navigation Frame */

.flipper-seller-buttons {
  display: flex;
  gap: 32px;
  font-weight: 700;
}

.heading--button {
  text-decoration: none;
  font-size: 32px;
}

.heading--button:link,
.heading--button:visited,
.heading--button:hover,
.heading--button:active {
  color: #fff;
}

/* Overrides the one above */
.heading--button.active {
  color: #febd1d;
}

/* USER ICON FRAME */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* ///////////////////////////// */

/* MAIN BODY CONTENT */

.main-body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer-frame-2 {
  padding: 50px 70px;
  background-color: #232323;
}

.outer-frame-1 {
  padding: 10px;
  background-color: #232323;
}

.inner-frame {
  background-color: #232323;
  width: 832px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.broker-like-boss {
  align-self: flex-start;
}

.steps-image {
  width: 832px;
}

.check-it-out-paragraph {
  font-weight: 700;
  font-size: 42px;
}

/* FOUR GRAPHICS */

.four-graphics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 32px;
  row-gap: 16px;
}

.graphic--frame {
  display: flex;
  width: 400px;
  gap: 16px;
}

.graphic--img--frame {
  width: 87px;
  height: 104px;
}

.graphic--img--frame img {
  width: 100%;
  /* height: 100%; */
}

.graphic--text {
}

.graphic--heading {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.graphic--description {
  font-size: 14px;
  font-weight: 400;
}

/* Crush the Comp Graphic */

.crush--the--comp {
  display: flex;
  gap: 32px;
  padding: 0 70px 50px 70px;
}

.crush--comp--heading {
  font-size: 36px;
  font-weight: 500;
}

.crush--comp--description {
  font-size: 24px;
  font-weight: 400;
}

/* SIGN UP BUTTON */

.sign-up-btn-frame {
  width: 100%;
}

.sign-up-btn {
  display: flex;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border: 3px solid #febd1d;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  padding: 20px 30px;
}

.sign-up-btn:link,
.sign-up-btn:visited {
  color: #fff;
}

.sign-up-btn:hover,
.sign-up-btn:active {
  background-color: #febd1d;
}

/* //////////////////////// */

/* FOOTER */

.footer-bar {
  display: flex;
  justify-content: center;
}

.footer-inner-frame {
  width: 992px;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  padding: 10px;
}

.footer--text {
  justify-self: center;
  text-align: center;
}

.footer--privacy {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.footer--privacy:link,
.footer--privacy:visited,
.footer--privacy:hover,
.footer--privacy:active {
  color: #fff;
}

.footer--copyright {
  font-weight: 400;
}
